<div class="main">
  <div class="container">
    <div class="header">
      <h1>Application details for application {{ application?.applicationID }}</h1>
    </div>

    @if (application?.applicationID) {
    <mat-card-header>
      <ng-container>
        @if (application?.assignedManager) {
        <button mat-button id="approve-button" (click)="updateStatus('WAITING_FOR_SIGNING')">
          Approve
        </button>
        <button mat-button id="reject-button" (click)="updateStatus('REJECTED')">
          Reject
        </button>
        } @else {
        <button mat-button id="assign-button" (click)="updateStatus('UNDER_REVIEW')">
          Assign To Me
        </button>
        }
      </ng-container>
    </mat-card-header>
    <div class="main-details-container">
      <div class="split-container">
        <mat-card>
          <mat-card-content>
            <h2>General Info</h2>
            <p><strong>Status:</strong> {{ application?.applicationStatus }}</p>
            <p><strong>Date of Submission:</strong> {{ formatDateString(application?.dateOfSubmission) }}</p>
            <p>
              <strong>Assigned Manager:</strong>
              {{
                application?.assignedManager
                  ? application.assignedManager.name + ' ' + application.assignedManager.surname
                  : 'None'
              }}
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-content>
            <h2>Applicant's Info</h2>
            <p><strong>Full Name:</strong> {{ application?.customer?.fullName }}</p>
            <p><strong>Personal ID:</strong> {{ application?.customer?.personalId }}</p>
            <p><strong>Age:</strong> {{ application?.customer?.age }}</p>
            <p><strong>Email:</strong> {{ application?.customer?.email }}</p>
            <p><strong>Phone:</strong> {{ application?.customer?.phone }}</p>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-content>
            <!-- Financial Info -->
            <h2>Financial Info</h2>
            <p><strong>Monthly Income:</strong> {{ application?.financialInfo?.monthlyIncome }}</p>
            <p><strong>Marital Status:</strong> {{ application?.financialInfo?.maritalStatus }}</p>
            <p><strong>Dependants:</strong> {{ application?.financialInfo?.dependants }}</p>
            <p>
              <strong>Obligations:</strong>
              {{
                application?.financialInfo?.monthlyObligations
                  ? application.financialInfo.monthlyObligations
                  : 0
              }}
            </p>
            <p><strong>Disposable Income:</strong> {{ application?.financialInfo?.disposableIncome }}</p>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-content>
            <!-- Vehicle Info -->
            <h2>Vehicle Info</h2>
            <div>
              <p><strong>Make:</strong> {{ application?.vehicleDetails.make }}</p>
              <p><strong>Model:</strong> {{ application?.vehicleDetails.model }}</p>
              <p><strong>Year:</strong> {{ application?.vehicleDetails.year }}</p>
              <p><strong>Fuel Type:</strong> {{ application?.vehicleDetails.fuel }}</p>
              <p>
                <strong>Emissions:</strong> {{ application?.vehicleDetails.emissionStart }} to
                {{ application?.vehicleDetails.emissionEnd }} g/km
              </p>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-content>
            <!-- Leasing Info -->
            <h2>Leasing Info</h2>
            <p><strong>Amount:</strong> {{ application?.price }}€</p>
            <p><strong>Down Payment:</strong> {{ application?.downPayment }}€</p>
            <p>
              <strong>Period:</strong> {{ application?.yearPeriod }} @if (application?.yearPeriod !== 1) { years }
              @else { year }
            </p>
            <p><strong>Residual Value:</strong> {{ application?.residualValue }}</p>
            <p><strong>Interest Rate:</strong> {{ application?.interestRate }}%</p>
            <p><strong>Credit Rating:</strong> {{ application?.customer?.creditRating }}</p>
            <p><strong>Euribor:</strong> {{ application?.euribor }}%</p>
            <p><strong>Agreement Fee:</strong> {{ application?.agreementFee || 'None' }}€</p>
          </mat-card-content>
        </mat-card>

        <!-- <div>
            <mat-select (selectionChange)="updateStatus($event.value)">
              @for(status of managersStatuses; track status){
              <mat-option [value]="status">
                {{ status }}
              </mat-option>
            }
            </mat-select>
           </div> -->
      </div>

      <div class="split-container">
        <mat-card class="file-upload">
          <app-application-control-panel-component
            [applicationId]="application?.applicationID"
          ></app-application-control-panel-component>
        </mat-card>
      </div>
    </div>
    } @else {
    <mat-spinner></mat-spinner>
    }

    <div>
      <button mat-button id="back-button" (click)="viewAdminDashboard()">
        Back to Admin Dashboard
      </button>
    </div>
  </div>
</div>
