<div class="calculator">
  <div class="grid-container">
    <div class="grid-item grid-title">Expected monthly payment:</div>
    <div class="grid-item grid-value">{{ calculator.monthly }}</div>
    <div class="grid-item grid-currency">€</div>
    <div class="grid-item grid-title">Agreement fee:</div>
    <div class="grid-item grid-value">{{ calculator.fee }}</div>
    <div class="grid-item grid-currency">€</div>
  </div>
  <div class="calculator-disclaimer">
    <div id="disclaimer">
      <br>
      <strong style="font-weight: bold;">Disclaimer:</strong> The calculated lease price is an estimate.
      Final terms and interest rate will be finalized upon credit approval.</div>
  </div>
</div>
