.calculator {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 60px 50px;
}

.grid-title {
  display: flex;
  font-size: 16px;
  justify-content: start;
}

.grid-value {
  display: flex;
  justify-content: end;
}

.grid-currency {
  display: flex;
  font-weight: bold;
  justify-content: end;
}

#disclaimer {
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 600px) {

  .grid-title, .grid-value, .grid-currency {
    font-size: 14px;
  }

  .grid-container {
    grid-template-columns: 175px 50px 50px;
  }

  #disclaimer {
    font-size: 10px;
  }
}


@media screen and (max-width: 400px) {
  .actions {
    flex-direction: column;
    gap: 10px;
  }

  .grid-title, .grid-value, .grid-currency {
    font-size: 12px;
  }

  .grid-container {
    grid-template-columns: 150px 30px 30px;
  }

  #disclaimer {
    font-size: 10px;
  }
}
