<form [formGroup]="thirdFormGroup" id="vehicleInfo-form">
  <mat-form-field appearance="fill">
    <mat-label>Make</mat-label>
    <input
      type="text"
      placeholder="Select make"
      matInput
      [formControl]="makeControl"
      [matAutocomplete]="auto"
      required
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="onMakeSelectionChange($event.option.value)"
    >
      @for (make of filteredMakes | async; track make) {
      <mat-option [value]="make">{{ make }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Model</mat-label>

    <mat-select formControlName="model" placeholder="Select model" required>
      @for (model of models | async; track model) {
      <mat-option [value]="model">{{ model }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Year</mat-label>
    <input matInput type="number" formControlName="year" placeholder="Enter year" required />
    @if (thirdFormGroup.get('year')?.invalid) {
    <mat-error> Year must be between 2010 and {{ currentYear }}. </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fuel type</mat-label>
    <mat-select formControlName="fuel" required>
      <mat-option value="petrol">Petrol</mat-option>
      <mat-option value="diesel">Diesel</mat-option>
      <mat-option value="electric">Electric</mat-option>
      <mat-option value="hybrid">Hybrid</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- CO2 Emissions in g/kg -->
  <div class="slider-container" [formGroup]="emissionRangeForm">
    <mat-label>CO2 emissions, g/km</mat-label>
    <mat-slider [min]="0" [max]="130" [showTickMarks]="true" [step]="5" [discrete]="true">
      <input matSliderStartThumb formControlName="emissionStart" />
      <input matSliderEndThumb formControlName="emissionEnd" />
    </mat-slider>
  </div>
  <div class="navigation-buttons">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>
