<div class="main">
  <div class="main-container">
    <div class="wizard-title" (click)="navigateToMain()">
      <img id="logoVrroom" src='../../../assets/img/logoVrroom.png' alt="">
    </div>
    <div class="about-us-container">
      <p>About Us</p>
      <div class="images-container">
        <img class="images" id="image1" src='../../../assets/img/img1.jpg' alt="">
        <img class="images" id="image2" src='../../../assets/img/img2.jpg' alt="">
        <img class="images" id="image3" src='../../../assets/img/img3.jpg' alt="">
      </div>
    </div>
  </div>
</div>

