<div class="background-container">
  <div class="logo-container">
    <img id="logoVrroom" src='../../../assets/img/logoVrroom.png' alt="">
  </div>
  <div class="title-container">
    <h2 id="title-line1">GET YOUR RIDE TODAY!</h2>
    <h1 id="title-line2">vRroom!</h1>
  </div>
  <div class="button-container">
    <button mat-button id="manager-button" (click)="managerAccess()">Manager Access</button>
    <button mat-button id="client-access" (click)="clientAccess()">Client Access</button>
  </div>
</div>
