<div class="wizard-container">
  <header></header>
  <div class="main">
    <div class="progress-indicator"></div>
    <div class="wizard-content">
      <div class="wizard-title" (click)="navigateToMain()">
        <h2>{{ wizardTitle }}</h2>
      </div>
      <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
        <mat-step [stepControl]="stepOne.firstFormGroup" label="Leasing Information">
          <h1 class="title-mobile">Leasing Information</h1>
          <app-leasing-info-component #stepOne></app-leasing-info-component>
        </mat-step>

        <mat-step [stepControl]="stepTwo.secondFormGroup" label="Financial Information">
          <h1 class="title-mobile">Financial Information</h1>
          <app-financial-info #stepTwo></app-financial-info>
        </mat-step>

        <mat-step [stepControl]="stepThree.thirdFormGroup" label="Vehicle information">
          <h1 class="title-mobile">Vehicle information</h1>
          <app-vehicle-info #stepThree></app-vehicle-info>
        </mat-step>

        <mat-step [stepControl]="stepFour.fourthFormGroup" label="Personal and contact information">
          <h1 class="title-mobile">Personal and contact information</h1>
          <app-personal-contact-info #stepFour></app-personal-contact-info>
        </mat-step>

        <mat-step [stepControl]="fifthFormGroup" label="Review and Submit">
          <h1 class="title-form">Review and Submit</h1>
          <form [formGroup]="fifthFormGroup" id="review-form">
            <h2 class="title-mobile">Review and Submit</h2>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Leasing Information</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                @if (stepOne.firstFormGroup.value) {
                <p><strong>Amount:</strong> {{ stepOne.firstFormGroup.value.amount }} €</p>
                <p>
                  <strong>Down Payment:</strong>
                  {{
                    (this.stepOne.firstFormGroup.value.amount! *
                      this.stepOne.firstFormGroup.value.downPayment!) /
                      100
                  }}
                  €
                </p>
                <p>
                  <strong>Residual Value:</strong>
                  {{
                    (this.stepOne.firstFormGroup.value.amount! *
                      this.stepOne.firstFormGroup.value.residualValue!) /
                      100
                  }}
                  €
                </p>
                <p><strong>Period:</strong> {{ stepOne.firstFormGroup.value.period }}</p>
                }
              </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <mat-card-title>Financial Information</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                @if (stepTwo.secondFormGroup.value) {
                <p>
                  <strong>Employment Status:</strong>
                  {{ stepTwo.secondFormGroup.value.employmentStatus }}
                </p>
                <p>
                  <strong>Employment Term:</strong>
                  {{ stepTwo.secondFormGroup.value.employmentTerm }}
                </p>
                <p>
                  <strong>Employment Status:</strong>
                  {{ stepTwo.secondFormGroup.value.employmentStatus }}
                </p>
                <p>
                  <strong>Employment Term:</strong>
                  {{ stepTwo.secondFormGroup.value.employmentTerm }}
                </p>

                <p>
                  <strong>Monthly Income:</strong> {{ stepTwo.secondFormGroup.value.monthlyIncome }}
                </p>
                <p>
                  <strong>Monthly Income:</strong> {{ stepTwo.secondFormGroup.value.monthlyIncome }}
                </p>

                <p>
                  <strong>Marital Status:</strong>
                  {{ stepTwo.secondFormGroup.value.maritalStatus }}
                </p>
                <p>
                  <strong>Number of dependents:</strong>
                  {{ stepTwo.secondFormGroup.value.numberOfDependents }}
                </p>

                @if (stepTwo.secondFormGroup.value.monthlyObligations) {
                {{ stepTwo.secondFormGroup.value.monthlyObligations }}
                } }
              </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <mat-card-title>Vehicle Information</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                @if (stepThree.thirdFormGroup.value) {
                <p><strong>Make:</strong> {{ stepThree.thirdFormGroup.value.brand }}</p>
                <p><strong>Model:</strong> {{ stepThree.thirdFormGroup.value.model }}</p>
                <p><strong>Year:</strong> {{ stepThree.thirdFormGroup.value.year }}</p>
                <p><strong>Fuel Type:</strong> {{ stepThree.thirdFormGroup.value.fuel }}</p>
                <p>
                  <strong>Emission Range:</strong>
                  {{ stepThree.emissionRangeForm.value.emissionStart }} -
                  {{ stepThree.emissionRangeForm.value.emissionEnd }}
                </p>
                <p><strong>Make:</strong> {{ stepThree.thirdFormGroup.value.brand }}</p>
                <p><strong>Model:</strong> {{ stepThree.thirdFormGroup.value.model }}</p>
                <p><strong>Year:</strong> {{ stepThree.thirdFormGroup.value.year }}</p>
                <p><strong>Fuel Type:</strong> {{ stepThree.thirdFormGroup.value.fuel }}</p>
                <p>
                  <strong>Emission Range:</strong>
                  {{ stepThree.emissionRangeForm.value.emissionStart }} -
                  {{ stepThree.emissionRangeForm.value.emissionEnd }}
                </p>

                }
              </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <mat-card-title>Personal and Contact Information</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                @if (stepFour.fourthFormGroup.value) {
                <p><strong>Name:</strong> {{ stepFour.fourthFormGroup.value.name }}</p>

                <p><strong>Surname:</strong> {{ stepFour.fourthFormGroup.value.surname }}</p>
                <p><strong>Email:</strong> {{ stepFour.fourthFormGroup.value.email }}</p>
                <p>
                  <strong>Date of Birth:</strong> {{ stepFour.fourthFormGroup.value.dateOfBirth }}
                </p>
                <p>
                  <strong>identification Number:</strong>
                  {{ stepFour.fourthFormGroup.value.identificationNumber }}
                </p>
                <p>
                  <strong>Phone number:</strong> {{ stepFour.fourthFormGroup.value.phoneNumber }}
                </p>
                <p><strong>Address:</strong> {{ stepFour.fourthFormGroup.value.address }}</p>

                }
              </mat-card-content>
            </mat-card>

            <section>
              <mat-checkbox formControlName="reviewConfirm">
                I attest that all information is correct
              </mat-checkbox>
            </section>

            <div class="actions navigation-buttons">
              <button mat-button matStepperPrevious>Back</button>
              <button
                mat-button
                [disabled]="!fifthFormGroup.get('reviewConfirm')?.value"
                (click)="submit()"
              >
                Submit
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
