<div class="wizard-container">
  <header></header>
  <div class="progress-indicator"></div>
  <div class="wizard-content">
    <div class="wizard-title">
      <h2>{{ wizardTitle }}</h2>
    </div>
    <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
      <mat-step [stepControl]="firstFormGroup" label="Leasing Information">
        <app-leasing-info-component [formGroup]="firstFormGroup"></app-leasing-info-component>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" label="Financial Information">
        <app-financial-info [formGroup]="secondFormGroup"></app-financial-info>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup" label="Vehicle information">
        <app-vehicle-info [formGroup]="thirdFormGroup"></app-vehicle-info>
      </mat-step>
      <mat-step>
        <div>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>

  <div class="navigation-controls"></div>
  <div class="footer"></div>
</div>
