<div class="app-page-container">
  <div class="header">
    <h1>vRroom Admin Dashboard</h1>
  </div>

  <mat-accordion multi="true">
    <!-- Filter Options Panel -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Filter Options </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content>
        <div class="filters" [formGroup]="form">
          <mat-form-field appearance="fill">
            <mat-label>Manager Full Name</mat-label>
            <input matInput formControlName="managerFullName" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Customer ID</mat-label>
            <input matInput formControlName="customerId" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="">Default</mat-option>
              <mat-option value="SUBMITTED">Submitted</mat-option>
              <mat-option value="UNDER_REVIEW">Under review</mat-option>
              <mat-option value="PENDING_CHANGES">Pending changes</mat-option>
              <mat-option value="PENDING_REVIEW">Pending review</mat-option>
              <mat-option value="WAITING_FOR_SIGNING">Waiting for signing</mat-option>
              <mat-option value="SIGNED">Signed</mat-option>
              <mat-option value="REJECTED">Rejected</mat-option>
              <mat-option value="CANCELLED">Cancelled</mat-option>
            </mat-select>
          </mat-form-field>
          @if(!isSuperAdmin) {
          <ng-container>
            <mat-form-field appearance="fill">
              <mat-label>Start Date</mat-label>
              <input
                matInput
                [matDatepicker]="pickerStart"
                formControlName="startDate"
                (dateInput)="fetchApplications()"
                (dateChange)="fetchApplications()"
              />
              <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>End Date</mat-label>
              <input
                matInput
                [matDatepicker]="pickerEnd"
                formControlName="endDate"
                (dateInput)="fetchApplications()"
                (dateChange)="fetchApplications()"
              />
              <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
          </ng-container>
          }
        </div>
      </mat-card-content>
    </mat-expansion-panel>

    <!-- Statistics Calculator Panel, visible only for super admins -->
    @if(isSuperAdmin){

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Statistics Calculator and Additional Filters</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="stat-container">
        <mat-card-content class="stat-left">
          <div class="text-container">
            <p>
              Average Time to Sign or Cancel: {{ getAverageTimeToSignOrCancel(superAdminData) }}
            </p>
            <p>Number of Applications: {{ getNumberOfApplications(superAdminData) }}</p>
            <p>
              Average Time from Submit to Assigned:
              {{ getAverageTimeFromSubmitToAssigned(superAdminData) }}
            </p>
          </div>

          <div class="filters" [formGroup]="form" class="left-side">
            <mat-form-field appearance="fill">
              <mat-label>Manager ID</mat-label>
              <input matInput formControlName="managerId" type="number" />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Start Date</mat-label>
              <input
                matInput
                [matDatepicker]="pickerStart"
                formControlName="startDate"
                (dateInput)="fetchApplications()"
                (dateChange)="fetchApplications()"
              />
              <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>End Date</mat-label>
              <input
                matInput
                [matDatepicker]="pickerEnd"
                formControlName="endDate"
                (dateInput)="fetchApplications()"
                (dateChange)="fetchApplications()"
              />
              <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
          </div>
        </mat-card-content>

        <div class="chart-container">
          <canvas
            baseChart
            [options]="barChartOptions"
            [type]="barChartType"
            [data]="averageTimesChartData"
            style="height: 10px"
          >
          </canvas>
        </div>
      </div>
    </mat-expansion-panel>
    }
  </mat-accordion>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="applicationId">
      <mat-header-cell *matHeaderCellDef (click)="onSort('applicationId')">
        Application ID @if (form.get('sortField')?.value === 'applicationId') {
        <mat-icon>
          {{ form.get('sortDir')?.value === 'asc' ? 'expand_more' : 'expand_less' }}
        </mat-icon>
        }
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.applicationId }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef (click)="onSort('customerName')">
        User Name Surname @if (form.get('sortField')?.value === 'customerName') {
        <mat-icon>
          {{ form.get('sortDir')?.value === 'asc' ? 'expand_more' : 'expand_less' }}
        </mat-icon>
        }
      </mat-header-cell>
      <mat-cell *matCellDef="let element"
        >{{ element.customerName }} {{ element.customerSurname }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="leasingAmount">
      <mat-header-cell *matHeaderCellDef (click)="onSort('leasingAmount')">
        Leasing Amount @if (form.get('sortField')?.value === 'leasingAmount') {
        <mat-icon>
          {{ form.get('sortDir')?.value === 'asc' ? 'expand_more' : 'expand_less' }}
        </mat-icon>
        }
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.leasingAmount }}€</mat-cell>
    </ng-container>

    <ng-container matColumnDef="applicationCreatedDate">
      <mat-header-cell *matHeaderCellDef (click)="onSort('applicationCreatedDate')">
        Date of Submission @if (form.get('sortField')?.value === 'applicationCreatedDate') {
        <mat-icon>
          {{ form.get('sortDir')?.value === 'asc' ? 'expand_more' : 'expand_less' }}
        </mat-icon>
        }
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{
        formatDateString(element.applicationCreatedDate)
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="applicationStatus">
      <mat-header-cell *matHeaderCellDef (click)="onSort('applicationStatus')">
        Status @if (form.get('sortField')?.value === 'applicationStatus') {
        <mat-icon>
          {{ form.get('sortDir')?.value === 'asc' ? 'expand_more' : 'expand_less' }}
        </mat-icon>
        }
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.applicationStatus }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="assignedManager">
      <mat-header-cell *matHeaderCellDef (click)="onSort('managerName')">
        Assigned Manager @if (form.get('sortField')?.value === 'managerName') {
        <mat-icon>
          {{ form.get('sortDir')?.value === 'asc' ? 'expand_more' : 'expand_less' }}
        </mat-icon>
        }
      </mat-header-cell>
      <mat-cell *matCellDef="let element"
        >{{ element.managerName }} {{ element.managerSurname }}</mat-cell
      >
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; let element; columns: displayedColumns"
      [ngStyle]="{ 'background-color': getRowColor(row) }"
      (click)="viewDetails(element.applicationId)"
    ></mat-row>
  </mat-table>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage"
    (page)="onPageChange($event)"
  >
  </mat-paginator>

</div>
