<div class="success-page-container">
  <mat-card class="success-card">
    <div class="card-header-content">
      <mat-card-title>Application Sent Successfully!</mat-card-title>
      <div class="center-success">
        <mat-icon class="success-icon">check_circle_outline</mat-icon>

      </div>
    </div>
    <mat-card-content>
      <p>Your application has been sent successfully and is now being processed.</p>
      <p> We will contact you with more information soon.</p>
    </mat-card-content>
    <mat-card-actions class="success-card-actions">
      <button mat-raised-button color="primary" (click)="closeAndNavigate()">Go to Home</button>
    </mat-card-actions>
  </mat-card>
</div>